In [1]:
import pandas as pd
import numpy as np
import seaborn as se
from sklearn.svm import SVR
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import BayesianRidge, LinearRegression
from sklearn.model_selection import KFold, cross_val_score

%matplotlib inline

/anaconda/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
data = pd.read_csv('WELL6COMPOSITE.csv')
data.head()

,Unnamed: 0,DEPTH,CALI,DENB,DRHO,DTCOMP,GR,NEUT,PEF,RDEEP,RMICRO,RSHAL
0,0,328.7268,19.6406,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
1,1,328.8792,19.6250,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,2,329.1840,19.5781,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,3,330.2508,19.5938,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
4,4,332.9940,19.5157,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7902 entries, 0 to 7901
Data columns (total 12 columns):
Unnamed: 0    7902 non-null int64
DEPTH         7902 non-null float64
CALI          7902 non-null float64
DENB          7902 non-null float64
DRHO          7902 non-null float64
DTCOMP        7902 non-null float64
GR            7902 non-null float64
NEUT          7902 non-null float64
PEF           7902 non-null float64
RDEEP         7902 non-null float64
RMICRO        7902 non-null float64
RSHAL         7902 non-null float64
dtypes: float64(11), int64(1)
memory usage: 740.9 KB

In [4]:
data = data[1:]

data.head()

,Unnamed: 0,DEPTH,CALI,DENB,DRHO,DTCOMP,GR,NEUT,PEF,RDEEP,RMICRO,RSHAL
1,1,328.8792,19.6250,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,2,329.1840,19.5781,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,3,330.2508,19.5938,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
4,4,332.9940,19.5157,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
5,5,333.1464,19.4844,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [5]:
x = data[['DEPTH','CALI', 'DENB', 'DRHO', 'GR', 'DTCOMP','RDEEP', 'RMICRO']]
y = data['NEUT']

In [6]:
# Creating the folds - not really used in our example
k_fold = KFold(n_splits=5)
for train_indices, test_indices in k_fold.split(x):
     print('Train: %s | test: %s' % (train_indices, test_indices))

Train: [1581 1582 1583 ... 7898 7899 7900] | test: [   0    1    2 ... 1578 1579 1580]
Train: [   0    1    2 ... 7898 7899 7900] | test: [1581 1582 1583 ... 3158 3159 3160]
Train: [   0    1    2 ... 7898 7899 7900] | test: [3161 3162 3163 ... 4738 4739 4740]
Train: [   0    1    2 ... 7898 7899 7900] | test: [4741 4742 4743 ... 6318 6319 6320]
Train: [   0    1    2 ... 6318 6319 6320] | test: [6321 6322 6323 ... 7898 7899 7900]

# Benchmarking our regressors

In [ ]:
names = ["Support Victor Regressor", "Bayesian Ridge Regressor", "Linear Regressor"]

classifiers = [
    SVR(kernel='linear', C=1e3),
    BayesianRidge(compute_score=True),
    LinearRegression()]

k_fold = 2

# Benchmarking
for model, name in zip(classifiers, names):
    print(name, cross_val_score(model, x, y, cv=k_fold, n_jobs=7))