In [3]:
import pandas as pd

In [6]:
df= pd.read_excel("../data/GENERAL_WELL_DATA/Checkshot.xlsx")

In [7]:
df.shape

(19, 10)

In [8]:
df

,unique_wellbore_identifier,wellbore_name,table_name,time_type,no_of_points,depth_unit,index,depth,one_way_time,two_way_time
0,NaN,WELL-6,NaN,two-way,19,meters,0,670,360.3,720.6
1,NaN,WELL-6,NaN,two-way,19,meters,1,770,408.1,816.2
2,NaN,WELL-6,NaN,two-way,19,meters,2,845,441.2,882.4
3,NaN,WELL-6,NaN,two-way,19,meters,3,895,462.2,924.4
4,NaN,WELL-6,NaN,two-way,19,meters,4,940,481.3,962.6
5,NaN,WELL-6,NaN,two-way,19,meters,5,990,501.2,1002.4
6,NaN,WELL-6,NaN,two-way,19,meters,6,1020,513.3,1026.6
7,NaN,WELL-6,NaN,two-way,19,meters,7,1080,537.3,1074.6
8,NaN,WELL-6,NaN,two-way,19,meters,8,1155,566.0,1132.0
9,NaN,WELL-6,NaN,two-way,19,meters,9,1200,584.3,1168.6
10,NaN,WELL-6,NaN,two-way,19,meters,10,1230,596.3,1192.6
11,NaN,WELL-6,NaN,two-way,19,meters,11,1280,614.0,1228.0
12,NaN,WELL-6,NaN,two-way,19,meters,12,1315,628.6,1257.2
13,NaN,WELL-6,NaN,two-way,19,meters,13,1335,634.8,1269.6
14,NaN,WELL-6,NaN,two-way,19,meters,14,1378,651.3,1302.6
15,NaN,WELL-6,NaN,two-way,19,meters,15,1378,650.5,1301.0
16,NaN,WELL-6,NaN,two-way,19,meters,16,1425,666.7,1333.4
17,NaN,WELL-6,NaN,two-way,19,meters,17,1475,684.7,1369.4
18,NaN,WELL-6,NaN,two-way,19,meters,18,1495,691.6,1383.2